/*----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
    DEBUG
-----------*/
.debug{
    border: 1px dashed black;
}
.debug-in{
    border: 1px dashed coral;
}

/*----------
    BODY
-----------*/
.wrapper{
    min-height: 300px;
    width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 80% auto;
}
#img-primary{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: end;
    background-color: brown;
    height: 100%;
    padding: 20px;
}
#img-primary h2{
    margin-bottom: 10px;
}

#img-secondary{
    background-color: blue;
    height: 100%;
}